<div class="flex h-screen">
  <aside
    [ngClass]="isSidebarCollapsed ? 'w-20' : 'w-64'"
    class="bg-gray-900 text-white flex flex-col rounded-s-2xl h-full"
    dir="rtl"
  >
    <div class="flex items-center">
      <button (click)="toggleSidebar()">
        <lucide-angular [img]="Menu" class="mr-6 mb-2"></lucide-angular>
      </button>
      <div class="p-5 mt-5 text-2xl font-bold" *ngIf="!isSidebarCollapsed">
        finance
      </div>
    </div>
    <nav class="flex-1">
      <ul class="space-y-1">
        <li
          class="flex items-center px-6 py-3 hover:bg-gray-800 cursor-pointer gap-5"
          [routerLink]="['/overview']"
        >
          <lucide-angular [img]="House"></lucide-angular>
          <span *ngIf="!isSidebarCollapsed">Overview</span>
        </li>
        <li
          class="flex items-center px-6 py-3 hover:bg-gray-800 cursor-pointer gap-5"
        >
          <lucide-angular [img]="ArrowUpDown"></lucide-angular>
          <span *ngIf="!isSidebarCollapsed">Transactions</span>
        </li>
        <li
          class="flex items-center px-6 py-3 hover:bg-gray-800 cursor-pointer gap-5"
        >
          <lucide-angular [img]="ChartPie"></lucide-angular>
          <span *ngIf="!isSidebarCollapsed">Budgets</span>
        </li>
        <li
          class="flex items-center px-6 py-3 hover:bg-gray-800 cursor-pointer gap-5"
          [routerLink]="['/pots']"
        >
          <lucide-angular [img]="PiggyBank"></lucide-angular>
          <span *ngIf="!isSidebarCollapsed">Pots</span>
        </li>
        <li
          class="flex items-center px-6 py-3 hover:bg-gray-800 cursor-pointer gap-5"
        >
          <lucide-angular [img]="Receipt"></lucide-angular>
          <span *ngIf="!isSidebarCollapsed">Recurring Bills</span>
        </li>
      </ul>
    </nav>
  </aside>
</div>
